#black-friday {
    .body-content {
        background-color: black;
    }
    .coupone-filter {
        max-width: 220px;
        will-change: min-height;
        .sidebar-store {
            &.is-fixed {
                position: sticky;
                width: 100%;
                top: 2%;
            }
            
            &.is-bottom {
                position: sticky;
                width: 100%;
                top: 2%;                
            }
        }
        .filter-sub {
            padding-left: 30px !important;
            padding-bottom: 18px;
            .filter-li i, .filter-li a, .filter-sub-title {
                color: #999;
            }
            .filter-sub_title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .filter-subbody {
                color: #999;
                max-height: fit-content;
                overflow-y: hidden;
                .filter-li {
                    list-style: none;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    a {
                        &:hover {
                            color: #fff;
                            span {
                                &::before {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .filter-subbody {
                        color: #999;
                        padding-left: 30px;
                        overflow-y: hidden;
                        max-height: inherit;
                        margin: 0;
                        padding: 0;
                        li {
                            list-style-type: disc;
                        }
                    }
                }
            } 
        }

        @media (max-width: 768px ) {
            display: none;
        }
    }

    .coupons {    
        padding-left: 32px;
        flex-basis: calc(100% - 220px) !important;
        margin-top: 20px;
        color: #f0f0f0;
        order: 2;
        .coupons-total {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 10px;
            .coupons-title {
                font-size: 1.7rem;
                margin: 0 15px 0 0;
                overflow-wrap: break-word;
                line-height: 1.2;
                font-weight: 400;
                flex: 1 1 auto;
            }
        }
        .coupons-h2 {
            font-weight: 400;
            font-size: 1.125rem;
            margin: 0 0 25px;
            overflow-wrap: break-word;
            font-weight: normal;
        }
        .glide {
            position: relative;
            ul.item-list {
                li.item {
                    background-color: #fff;

                    .item-image {
                        img {
                            display: block;
                            max-width: 100%;
                            width: 100%;
                            height: auto;
                        }
                    }
        
                    .item-info {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        font-size: 0.875rem;
                        padding: 8px 16px 12px 7px;
                        flex: 1 1 auto;

                        .small-image {
                            width: 85px;
                            height: 85px;
                            left: 15px;
                            bottom: 15px;
                            border-radius: 6px;
                            overflow: hidden;
                            background: #fff;
                            display: block;
                            position: absolute;
                            left: 10px;
                            bottom: 10px;
                            box-shadow: 0px 1px 2px rgb(0,0,0);
                            padding: 0!important;

                            img {
                                display: block;
                                max-width: 100%;
                                height: auto;
                            }

                            @media (min-width: 980px) {
                                width: 85px;
                                height: 85px;
                                left: 15px;
                                bottom: 15px;
                                border-radius: 6px;
                                overflow: hidden;
                                background: #fff;
                                display: block;
                                position: absolute;
                                left: 10px;
                                top: -95px;
                                bottom: auto;
                                box-shadow: 0px 1px 2px rgb(0,0,0);
                                padding: 0!important;
                            }
                        }

                        .promoinfo {
                            padding-left: 95px;
                            position: relative;

                            .shop-name {
                                font-size: 12px;
                                margin-bottom: 8px;
                                text-transform: uppercase;
                                color: rgb(117, 117, 117);
                                display: flex;
                                align-items: center;
                                .shop-name-title {
                                    color: #cc2a36 !important;
                                    font-weight: bold !important;
                                }
                            }

                            .shop-info {
                                flex: 1 0 auto;
                                color: #323232;
                                min-height: auto;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                overflow: hidden;
                                line-height: 1.5em;
                                font-size: 16px;
                                font-weight: 500;
                                margin-bottom: 10px;
                            }

                            .shop-desc {
                                color: #323232;
                            }

                            @media (min-width: 980px) {
                                padding-left: 0;
                            }
                        }

                        @media (min-width: 576px) {
                            flex: 1 0 auto;
                            padding: 8px 16px 12px;
                        }
                    }
                }
            }

            .gslide-arrows {
                position: absolute;
                top: 30px !important;
                width: 100%;
                button {
                    &.glide__arrow {
                        position: absolute;
                        z-index: 99;
                        width: 42px!important;
                        text-align: center;
                        height: 42px !important;
                        background-color: rgba(255, 255, 255, 0.3) !important;
                        border-radius: 50%; 
                        cursor: pointer;
                        .icon {
                            font-size: 40px;
                        }
                    }

                    &.glide__arrow--left {
                        left: 10px !important;
                    }

                    &.glide__arrow--right {
                        right: 10px !important;
                    }
                }
            }
        }
    }

    .coupons-lists {
        display: flex;
        flex-direction: column;
        .products-content {
            box-sizing: border-box;
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-wrap: wrap;
            display: flex;
            margin: -12px;

            .product-card {
                padding: 0;
                padding-right: 1px !important;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                max-width: 50%;
                flex: 0 0 50%;

                .shop-card-wrapper-inner {
                    background-color: #fff;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -webkit-border-radius: 8px;
                    border-radius: 8px;
                    -moz-box-shadow: 0 1px 2px rgba(48,48,48,0.1);
                    -ms-box-shadow: 0 1px 2px rgba(48,48,48,0.1);
                    -webkit-box-shadow: 0 1px 2px rgb(48, 48, 48);
                    box-shadow: 0 1px 2px rgb(48, 48, 48);
                    height: 55px;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    margin-bottom: 12px;
                    border-radius: 0px !important;
                    margin-bottom: 1px !important;

                    .shop-card {
                        padding: 15px 0;
                        display: block !important;
                        width: auto !important;
                        text-align: center;
                        height: 100%;
                        color: #303030;

                        
                        .shop-card-image {
                            display: block !important;
                            width: auto !important;
                            text-align: center;
                            padding: 0 15px;
                            -webkit-align-items: center;
                            align-items: center;
                            display: -webkit-flex;
                            display: -msflex;
                            display: flex;
                            -webkit-justify-content: center;
                            justify-content: center;
                            max-width: 100px;
                            img {
                                display: block;
                                max-height: 100%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                padding: 10px;
                                transform: translate(-50%, -50%);
                                z-index: 0;
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        h2 {
                            display: none;
                            font-size: 12px;
                            padding-left: 10px;
                            text-align: left;
                            top: 5px;
                            z-index: 2;
                            color: #999 !important;
                            left: 0;
                            right: 0;
                            position: absolute;
                        }

                        .seemore {
                            display: block !important;
                            position: absolute !important;
                            left: 0 !important;
                            padding-right: 0px !important;
                            right: 0px !important;
                            margin-right: 0px !important;
                            text-align: center !important;
                            bottom: 0 !important;
                            font-size: 18px;
                            font-weight: 500;
                        }

                        &:hover {
                            h2 {
                                display: block;
                            }
                            .seemore {
                                background-color: #cc2a36 !important;
                                color: #fff !important;
                            }
                        }
                    }


                    @media (min-width: 576px) {
                        height: 160px !important;              
                    }
                }

                @media (min-width: 1024px) {
                    flex: 0 0 25%;
                    max-width: 25%;                
                }

            }

            .shop-card-wrapper {
                @media (min-width: 1024px) {
                    padding-right: 1px;
                    padding-left: 0px;               
                }
            }

            @media (min-width: 576px) {
                margin: -12px;
            }
        }

        .shop-cards {
            border-radius: 8px;
            overflow: hidden;
        }
    }
}