@import "./font.css";
/* MAGAZIN */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: #808080;
	&:hover {
		color: #ee7836;
	}
}
small {
	font-size: 12px;
}
ul {
	li {
		padding: 5px 0;
	}
}
.bg-gray-light {
	background-color: #fafafa;
	position: relative;
}
.v-center {
	vertical-align: middle;
}
.list-style-none {
	list-style: none;
}

.caret {
	vertical-align: middle;
}
footer {
	background-color: #2B2930;
	color: #ccc;
	a {
		color: #ccc;
	}
	.list {
		ul {
			li {
				padding: 4px 0;
				font-size: 12px;
			}
		}
	}
	.copyright {
		font-size: 12px;
	}
}
.magazin {
	background: #F9F9F9;
	.thumbnail {
		border: 1px solid #eee;
		border-radius: 15px;
		img {
			border-radius: 15px;
		}
	}
	.contact {
		font-size: 14px;
		color: #adadad;
	}
}
.filter-input {
	display: block;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
}
.input-label {
	display: block;
	position: relative;
	padding-left: 29px;
	line-height: 22px;
	user-select: none;
	cursor: pointer;
	&::before {
		visibility: hidden;
		position: absolute;
		top: 4px;
		left: 8px;
		z-index: 2;
		box-sizing: border-box;
		width: 6px;
		height: 11px;
		content: "";
		transform: rotate( 45deg);
		border-style: solid;
		border-image: initial;
		border-color: #cc2a36;
		border-width: 0 2px 2px 0;
	}
	&::after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		box-sizing: border-box;
		width: 22px;
		height: 22px;
		content: "";
		border: thin solid rgb(117, 117, 117);
		background-color: white;
	}
}
.rate {
	img {
		vertical-align: middle;
	}
}
.list-vouchers {
	.voucher {
		border: 1px solid #adadad;
		border-radius: 7px;
		.short-detail {
			border-bottom: 1px solid #adadad;
			cursor: pointer;
		}
	}
}
.btn-thumb {
	padding: 4px 15px;
	border-radius: 15px;
	cursor: pointer;
	border: 1px solid;
    .thumb-up {
        &:hover {
            border-color: green;
            >.thumb-up {
                fill: green;
            }
        }
    }
	.thumb-down {
        &:hover {
            border-color: red;
            >.thumb-down {
                fill: red;
            }
        }
	}
}
.thumb {
	width: 15px;
	vertical-align: middle;
}
.view-details {
	background-color: #eee;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	font-size: 14px;
}
.btn-none-border {
	border: none;
	cursor: pointer;
	position: relative;
	background-color: unset;
}
.btn-view-up {
	&::after {
		content: "";
		width: 12px;
		height: 12px;
		background: url("../images/chevron-up-solid.svg") no-repeat;
		top: 2px;
		right: -15px;
		position: absolute;
		display: inline-block;
	}
}
.btn-view-down {
	&::after {
		content: "";
		width: 12px;
		height: 12px;
		background: url("../images/chevron-down-solid.svg") no-repeat;
		top: 2px;
		right: -15px;
		position: absolute;
		display: inline-block;
	}
}
.btn-getcode {
	position: relative;
	border-radius: 1000px;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	text-align: right;
	transition: background-color 500ms ease 0s, border-color 500ms ease 0s, color 500ms ease 0s, fill 500ms ease 0s;
	-webkit-font-smoothing: antialiased;
	border: thin solid #eee;
	background-color: #fff;
	color: #333;
	height: 3rem;
	padding-right: 12px;
	outline: none !important;
	font-size: 16px;
	width: 100%;
	span {
		z-index: 2;
		position: absolute;
		left: 10%;
		color: white;
	}
	&:hover {
		background-color: #fff;
		color: black;
		border-color: #eee;
		&::before {
			width: 67%;
		}
		&::after {
			left: 67%;
		}
	}
	&::before {
		content: "";
		position: absolute;
		width: 76%;
		height: 100%;
		left: 0;
		background-color: #39b54a;
		top: 0;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		transition: width .2s ease-out;
		z-index: 1;
	}
	&::after {
		left: 76%;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 48px 0 0 35px;
		transform: rotate( 17deg );
		border-color: transparent transparent transparent #2e8d3a;
		transition: left .2s ease-out;
		transform-origin: top left;
		content: "";
		position: absolute;
		z-index: 1;
		display: block;
	}
}
.tabs {
	border-bottom: 1px solid #adadad;
	transition: .5s;
}
.tab.active {
	border-bottom: 2px solid #cc2a36;
}


@import './layout/header.scss'