@import "./font.css";
/* MAGAZIN */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
	color: #808080;
	&:hover {
		color: #ee7836;
	}
}
small {
	font-size: 12px;
}
ul {
	li {
		padding: 5px 0;
	}
}
.bg-gray-light {
	background-color: #fafafa;
	position: relative;
}
.v-center {
	vertical-align: middle;
}
.list-style-none {
	list-style: none;
}

.caret {
	vertical-align: middle;
}
footer {
	background-color: #2B2930;
	color: #ccc;
	a {
		color: #ccc;
	}
	.list {
		ul {
			li {
				padding: 4px 0;
				font-size: 12px;
			}
		}
	}
	.copyright {
		font-size: 12px;
	}
}

.collapse {
    display: none
}
@import './layout/header.scss';
@import './magazin_store.scss';