.category-detail .sidebar-store .long-list {
  overflow-y: hidden;
  max-height: 155px;
}
.category-detail .sidebar-store .long-list.show {
  overflow-y: auto;
  max-height: 250px;
}
@media screen and (max-width: 768px) {
  .category-detail .sidebar-store {
    display: none;
  }
}
.category-detail .voucher {
  border-color: #ddd;
  background-color: #fff;
}
.category-detail .voucher .imgwrap {
  padding: 0.7rem;
  text-align: center;
}
.category-detail .voucher .imgwrap img {
  border-radius: 7px;
  max-width: 100%;
}
.category-detail .voucher .imgwrap .wrap-discount {
  border: 1px solid #cc2a36;
  color: #cc2a36;
  border-radius: 15px;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.category-detail .voucher .title-voucher {
  line-height: 23px;
}
.category-detail .voucher .nocode-img {
  max-width: 130px;
}
.category-detail .voucher .btn-nocode {
  background-image: linear-gradient(22deg, #cc2a36, #f77941);
  transition: all 0.2s ease;
  color: #fff;
  border-color: transparent;
  border-radius: 1000px;
  font-size: 1rem;
  position: relative;
  min-width: 178px;
  height: 3rem;
}
.category-detail .voucher .btn-nocode span {
  vertical-align: middle;
}
.category-detail .voucher .btn-nocode img {
  vertical-align: middle;
  margin-left: 15px;
}
.category-detail .voucher .short-detail {
  border-color: #ddd;
}
.category-detail p {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .category-detail .voucher .imgwrap, .category-detail .voucher .nocode-img {
    width: 33.3333333333%;
    padding: 0.5rem;
  }
  .category-detail .voucher .desc-voucher {
    width: 66.6666666667%;
    padding: 0.5rem;
  }
  .category-detail .voucher .desc-voucher .desc, .category-detail .voucher .desc-voucher .code {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .category-detail .voucher .desc-voucher .title-voucher {
    font-weight: 400;
    font-size: 16px;
  }
}

.btn-show-filter {
  border: 1px solid #cc2a36;
  color: #cc2a36;
  border-radius: 1000px;
  padding: 16px 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: none;
}
.btn-show-filter:hover {
  background-color: #cc2a36;
  border-color: #cc2a36;
  color: white;
}

@media screen and (max-width: 768px) {
  .btn-show-filter {
    display: block;
  }
}
.filter-checked {
  margin: 2rem 0;
  /* Hide default HTML checkbox */
  /* The slider */
}
.filter-checked .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 12px;
}
.filter-checked .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.filter-checked .slider {
  cursor: pointer;
}
.filter-checked .slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.filter-checked .slider:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-color: gray;
  transition: 0.4s;
}
.filter-checked input:checked + .slider:after {
  background-color: #cc2a36;
}
.filter-checked input:focus + .slider {
  box-shadow: 0 0 1px #cc2a36;
}
.filter-checked input:checked + .slider:after {
  transform: translate(100%, -50%);
}
.filter-checked input:checked + .slider:before {
  background-color: #cc2a36;
  opacity: 0.5;
}
.filter-checked .slider.round:after {
  border-radius: 50%;
}

.filter-search {
  position: relative;
  padding: 0.7rem 0;
}
.filter-search fieldset {
  border: none;
}
.filter-search fieldset .search-icon {
  position: absolute;
  top: 50%;
  left: 9px;
  width: 1em;
  height: 1em;
  font-style: normal;
  font-size: 14px;
  fill: rgb(117, 117, 117);
  transform: translateY(-50%);
  z-index: 1;
}
.filter-search fieldset input {
  width: 100%;
  padding: 12px 12px 12px 28px;
  border: thin solid rgb(224, 224, 224);
  color: rgb(117, 117, 117);
  font-size: 1rem;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.filter-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(247, 247, 247);
  overflow: auto;
  z-index: 100;
  transform: translateX(100vw);
  transition: transform 450ms ease 0s;
  margin-right: 100vw;
}
.filter-mobile.show {
  transform: translateX(0);
}
.filter-mobile .filter-header {
  background: #cc2a36;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}
.filter-mobile .filter-header a {
  color: white;
  font-weight: 400;
  position: absolute;
  right: 1rem;
}
.filter-mobile .filter-body .filter-checked {
  padding: 0 10px;
  font-weight: 600;
  font-size: 16px;
  margin: 1rem;
}
.filter-mobile .filter-body .filter-checklist {
  position: relative;
  margin-bottom: 0;
  background-color: white;
  border-top: thin solid rgb(224, 224, 224);
  border-bottom: thin solid rgb(224, 224, 224);
  font-size: 0.875rem;
}
.filter-mobile .filter-body .filter-checklist .list-title {
  margin-bottom: 0;
  padding: 13px 16px;
  font-size: 14px;
  line-height: 1.2em;
}
.filter-mobile .filter-body .filter-checklist .list-title .list-icon {
  position: absolute;
  right: 14px;
  top: 15px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s linear 0s;
}
.filter-mobile .filter-body .filter-checklist .list-title .list-icon.open {
  rotate: 180deg;
}
.filter-mobile .filter-body .filter-checklist .list-item {
  padding: 10px;
  background-color: #f9f9f9;
  border-top: thin solid rgb(224, 224, 224);
  display: none;
}
.filter-mobile .filter-body .filter-checklist .list-item li {
  width: 50%;
}
.filter-mobile .filter-body .filter-checklist .list-item li label {
  font-size: 0.875rem;
}
.filter-mobile .filter-body .filter-checklist .list-item.show {
  display: block;
}
.filter-mobile .filter-footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 30px 0;
}
.filter-mobile .filter-footer .btn {
  border: 1px solid #cc2a36;
  border-radius: 1000px;
  padding: 16px 60px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.filter-mobile .filter-footer .btn-clear-filter {
  color: #cc2a36;
}
.filter-mobile .filter-footer .btn-apply-filter {
  color: white;
  background-color: #cc2a36;
}
/*# sourceMappingURL=category_detail.css.map */